* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: ivory;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

svg {
    fill: #ffffff
}

h1 {
    margin-bottom: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.home-h1 {
    font-size: 20px;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn-dark {
    border-radius: 15px;
    margin-bottom: 20px;
    filter: drop-shadow(1px 5px 2px #000);
}

.btn-outline-dark {
    padding: 2% 10% 2% 10%;
    
}

.form-control {
    background-color: transparent;
    border: 2px solid grey;
    border-radius: 10px;
}

a {
    color: #AE7D00;
}

a:hover {
    color: #AE7D00;
}

a:active {
    color: #896200;
}

.login-with-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.line {
    flex-grow: 1;
    height: 1px;
    border-bottom: 1px solid #888;
    filter: blur(1px);
}

.label {
    font-size: 14px;
    color: #777;
    margin: 0 10px;
}

.social-login {
    margin-top: 1%;
}

.facebook {
    background-color: #395185;
}

.linkedin {
    background-color: #0A66C2;
}

.google {
    background-color: #4285F4;
}


/* body {
    font-family: monospace;
    font-size: large;
    margin: 0;
    padding: 0;
    background-color: ivory;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} */

/* @keyframes fadeInAnimation {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
} */
